
.card {
  transition: transform .2s; /* Animation */
}

.card:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media only screen and (max-width: 768px) {
  #home {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  #home2 {
    width: 95%;
  }
}

