


@media only screen and (max-width: 600px) {
  #home {
    width: 95%;
  }  
}



@media only screen and (max-width: 600px) {
  #home2 {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  #contnr {
    margin-top: 1.5em;
  }
}

@media only screen and (min-width: 992px) {
  #contnr {
    margin-top: 2em;
  }
  .card {
  	transition: transform .2s; /* Animation */
  }

  .card:hover {
  	transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
}

@media only screen and (max-width: 600px) {
  #d {
    size: 60%;
  }
}

