<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet" href="home.css">
<link rel="stylesheet" media="mediatype and|not|only (expressions)" href="home.css">

<title>Your Birthday</title>
</head>
<body>
<div class="container" align="center"  id="contnr">
	<div class="col-9 card text-center  shadow-lg mb-5 bg-white rounded" id="home">
		<div class="card text-center  border-0" >
		<div class="card-header bg-light" >Featured</div>
		<div class="card-body">
			<h1 class="card-title" style="margin-bottom: 0.4em;">Your Birthday!</h1>


			<div class="col d-flex justify-content-center">

				<div class="col-6 card shadow-lg mb-5 bg-info rounded" id="home2" style="background-color: #E6E6FA;">

					<div class="card-body ">
						<h5>
							<p class="card-text" align="justify">Discover what day you
								were born on, how many days there are until your next birthday,
								your star sign, exact age, your Chinese birth year, birthstone,
								number of days alive, days until next birthday, time you've been
								alive for. Submit your birth date, and see for yourself!</p>
						</h5>
					</div>

				</div>

			</div>

			<div align="center"> 

				<form th:action="@{/birthdayInfo}" method="get">
					<h5>
						Date: <input type="date" name="date" th:attr="max=${localDate}"
							th:value="${localDate}"> <br><br>
					</h5>
					<input class="btn btn-success" type="submit" value="Submit" />
				</form>

			</div>

		</div>
		<br>

			<div class="card-footer text-muted bg-light" >Your birthday
				calculator - v1.3</div>


	</div>
	</div>

</div>
</body>


</html>